*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    font-family: Inter, sans-serif;
}

.header{
    padding: 1rem;
    background: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 40px -20px #282c3f26;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.logo{
    width: 25rem; 
}

div {
    display: block;
}

.search{
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    background: #eee;
    border: 2px solid #ccc;
    text-align: center;
}

.header_search-input {
    font-size: 1.6rem;
    font-weight: 500;
    width: 40rem;
    background: inherit;
    font-family: inherit;
    }

.header_search-input:focus{
    outline: none;
    border: none;
}

.header_search-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;    

}

.header_search-submit{
    font-size: 2.5rem;
    color: #999;
}

